Repository Nevy48/recalc, pull requests merged in 2023-05, with the labels that each got.

#18 Feature: agrego test de throw en función sub
  src/core.js
  test/core.test.js
Labels: enhancement

#19 Feature: agrego test de throw en función div
  src/core.js
  test/core.test.js
Labels: enhancement

#21 Fix: Bug que hacia que el segundo parametro no se guarde en History
  src/models.js
  test/models.test.js
Labels: bug

#23 Feature: Nuevo atributo error, y testeo si se carga en la BD
  src/models.js
  test/models.test.js
Labels: enhancement, fix

#24 Feature: Se agregó la función deleteHistory
  src/controllers.js
  src/models.js
  test/models.test.js
Labels: enhancement, test

#26 Feature: Se agregó test para 0,1 + 0,2 = 0,3
  test/api.test.js
Labels: enhancement, test

#28 Feature: Test para la función POW
  src/controllers.js
  test/api.test.js
Labels: enhancement, test

#30 Feature: Busqueda de entrada por ID
  src/controllers.js
  src/models.js
  test/models.test.js
Labels: documentation, enhancement, test
