Repository Nevy48/recalc, pull requests merged in 2023-06, with the labels that each got.

#31 Fix: Error que llamaba funciones nativas en los tests
  src/controllers.js
  src/models.js
  test/models.test.js
Labels: fix

#32 Feature: Test de error
  test/models.test.js
Labels: enhancement, test

#34 Feature: Se ha agregado test especifico para el segundo parametro de History
  test/models.test.js
Labels: enhancement, test

#35 Fix: Test de multiplicación
  test/api.test.js
Labels: fix

#36 Feature: Test e2e para División
  src/controllers.js
  src/public/index.js
Labels: bug, enhancement, fix, test

#38 Feature: Test e2e para División
  src/controllers.js
  src/public/index.js
  test/ui.test.js
Labels: bug, enhancement, fix, test

#39 Feature: Boton C (clear)
  src/public/index.js
  test/ui.test.js
Labels: enhancement, test

#40 Feature: Raiz cuadrada (√)
  src/cli.js
  src/controllers.js
  src/core.js
  src/public/index.html
  src/public/index.js
  src/seed.js
  test/api.test.js
  test/core.test.js
  test/models.test.js
  test/ui.test.js
Labels: enhancement, test

#41 Feature: Se conecto la API de Suma y su respectivo test
  package-lock.json
  src/controllers.js
  src/public/index.js
  test/ui.test.js
Labels: enhancement, fix, test

#42 Feature: función de multiplicación y su test e2e
  src/controllers.js
  src/public/index.js
  test/ui.test.js
Labels: enhancement

#43 Feature: Se agrego boton para potencia junto a su error y se conecto con la API
  package-lock.json
  src/controllers.js
  src/core.js
  src/public/index.html
  src/public/index.js
  test/ui.test.js
Labels: enhancement

#46 Cambio a v1.4.0 y notas de actualizacion
  CHANGELOG.md
  README.md
  package.json
Labels: fix
